{% extends 'base.html.twig' %}
{% block Tittle %} ALL {% endblock %}
{% block body %}
<table class="table" xmlns="http://www.w3.org/1999/html">
<tr>
    <td>Id</td>
    <td>Name</td>
    <td>Surname</td>
    <td>Age</td>
    <td>SickDays</td>
    <td>Vacation</td>
</tr>
    {% for stuff in Stuff %}
    <tr>
        <td>{{ stuff.id }}</td>
        <td>{{ stuff.name }}</td>
        <td>{{ stuff.surname }}</td>
        <td>{{ stuff.age }}</td>
        <td>{{ stuff.sickDays|date('Y-m-d') }}</td>
        <td>{{ stuff.vacations|date('Y-m-d') }}</td>
        <td>  <a href="{{ path('deletestuff',{'id': stuff.id}) }}">Delete</a> </td>
        <td>  <a href="{{ path('editStuff',{'id': stuff.id}) }}">Edit</a> </td>
    </tr>
    {% endfor %}
    {% endblock %}