{% extends 'base.html.twig' %}
{% block Tittle %} {% endblock %}
{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{'logout button'| trans }}</a>
        </div>
    {% endif %}
    <div class="container">
        <h2>{{'List'| trans  }}</h2>
        {% for Task in tasks %}
            <div class="card">
                <div class="card-body">
                    <div> {{ 'Id'| trans }} {{ Task.id }} <a href="{{ path('edit_tasks',{'id': Task.id}) }}">{{ 'Edit button'| trans }}</a></div>
                    <div>{{ 'Login'| trans }} {{ Task.route }} </div>
                    <br>
                    <div>{{'Data'|trans }}<br>{{ Task.duedate|date }} </div>
                    <div><a href="{{ path('delete',{'id': Task.id},{'id': Task.route},{'id': Task.dueDate|date}) }}">{{ 'Delete button'|trans }}</a></div>
                </div>
            </div>
        {% endfor %}
{% endblock %}