{% extends 'base.html.twig' %}
{% block Tittle %} ALL {% endblock %}
{% block body %}
    <div class="container">
    <h2>List</h2>
    {% for info in PersonalInfo %}
        <div class="card">
            <div class="card-body">
                <div>Id:{{ info.id }} <a href="{{ path('edit_personal',{'id': info  .id}) }}">Edit</a></div>
                <div>Name: {{ info.translate().name  }}
                <div>Surname:{{ info.translate().surname }}
                </div>
                <div><a href="{{ path('delete_personal',{'id': info.id}) }}">Kill</a></div>
            </div>
        </div>
                {% endfor %}
{% endblock %}