{% extends 'base.html.twig' %}
{% block Tittle %} ALL {% endblock %}
{% block body %}
    <a href="{{ path('allTransl', {'_locale': 'en'}) }}" >en</a>
    <a href="{{ path('allTransl', {'_locale': 'ru'}) }}" >ru</a>
<div class="container">
    <h2>List</h2>
    {% for info in PersonalInfoTranslation %}
    <div class="card">
        <div class="card-body">
            <div>{{ 'Id' | trans  }}{{ info.id }} <a href="{{ path('edit_personal',{'id': info  .id}) }}">Edit</a></div>
            <div>{{ 'Name' | trans }}{{ info.translate().name }}
                <div>{{ 'Surname' | trans}}{{ info.translate().surname }}
                    <div>{{ 'Content' | trans }}{{ info.translate().content }}
                    </div>
                    <div><a href="{{ path('delete_personal',{'id': info.id}) }}">Kill</a></div>
                </div>
            </div>
            {% endfor %}
            {% endblock %}