{% extends 'base.html.twig' %}
{% block title %} Edit {% endblock %}
{% block body %}
    <a href="{{ path('trans', {'_locale': 'en'}) }}" >en</a>
    <a href="{{ path('trans', {'_locale': 'ru'}) }}" >ru</a>
    {{ form(form) }}
{% endblock %}
